.hero__container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.hero__header {
    font-size: 6rem;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    color: var(--text);
    font-weight: 800;
    line-height: 8rem;
}

.hero__header span {
    background: var(--secondary);
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--background);
    font-style: italic;
    border-radius: .5rem;
}

.hero__paragraph {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: var(--text);
    margin-bottom: 2rem;

}

.hero__button--container {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.hero__button {
    font-size: 2rem;
}

.hero__logos--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background: var(--secondary-accent);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .5rem;
    gap: 7rem;
}

.hero__logo {
    height: 5rem;
    width: auto;
    object-position: center;
    object-fit: contain;
}

@media (max-width: 1420px) {
    .hero__header {
        font-size: 5rem;
        line-height: 7rem;
        width: 90%;
    }

    .hero__logos--container {
        width: 95%;
    }
}

@media (max-width: 1045px) {
    .hero__header {
        width: 95%;
        text-align: left;
    }

    .hero__paragraph {
        text-align: left;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__button--container {
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
        margin: auto;
        flex-grow: 1;
    }

    .hero__button--link {
        width: 100%;
    }

    .hero__button {
        width: 100%;
    }

    .hero__logos--container {
        gap: 4rem;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .hero__header {
        font-size: 3rem;
        line-height: 4.5rem;
    }


}

@media (max-width: 370px) {
    .hero__header {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .hero__paragraph {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .hero__button {
        font-size: 1.25rem;
    }
}